[submodule "dev/erc-8004-contracts/lib/openzeppelin-contracts-upgradeable"]
	path = dev/erc-8004-contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
